.transparent_paper {
    position: relative;
    background-color: rgb(0 0 0 / 30%);
}

.input {
    padding: 0rem 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.2rem;
}

.progress_bar {
    background-color: rgba(255, 255, 255, 0.2);
}
